<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= form_with(model: [ @category, @product ], local: true) do |form| %>
<% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label 'Nombre' %>
  <%= form.text_field :name %>
  <%= form.label 'Precio' %>
  <%= form.number_field :price %>
  <%= form.submit %>
<% end %>

<div class="table">Esto es una lista de productos y precios ( ͡° ͜ʖ ͡°)
	<table>
		<tr>
			<th> Nombre </th>
			<th> Precio </th>
			<th> Eliminar </th>
		</tr>
		<% @category.products.each do |product| %>
		<tr>
			<td> <%= product.name %> </td>
			<td> <%= product.price %> </td>
			<td>
				<div class= "btn btn-secondary">
				<%= link_to 'x', category_product_path(@category, product), :class => "btn", method: :delete %>
				</div></td>
		</tr>
		<% end %>
	</table>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
